*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

# Custom

latex/GEFCom2012-JRL.pdf
article/GEFCom2012-JRL.pdf
*.swp
*~
*#

*.spl
latex/gefcom2012jrl.tar.gz
article/gefcom2012jrl.tar.gz
